<h1>Login Page</h1>
<%= form_with url: sessions_path do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.text_field :password %><br>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.text_field :password_confirmation %><br>
  </div>

  <div>
    <%= form.submit :login %>
  </div>
<% end %>

<h2>Sign Up</h2>
<%= link_to "sign_up", new_user_path %>
